
    <div class="container mx-auto px-6">
    <% @products.each do |product| %>
      <div class="md:flex md:items-center m-3">
        <div class="w-full h-64 md:w-1/2 lg:h-96">
          <img
            class="h-full w-full rounded-md object-cover max-w-lg mx-auto"
            src="https://images.unsplash.com/photo-1578262825743-a4e402caab76?ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"
            alt="Nike Air"
          />
        </div>
        <div class="w-full max-w-lg mx-auto mt-5 md:ml-8 md:mt-0 md:w-1/2">
          <h3 class="text-gray-700 uppercase text-lg"><%= product.title %></h3>
          <span class="text-gray-500 mt-3"><%= number_to_currency product.price %></span>
          <hr class="my-3" />
          <div class="mt-2">
            <%= form_tag order_items_path do %>
              <%= hidden_field_tag :product_id, product.id %>
              <%= number_field_tag :quantity, 1 %>
              <%= submit_tag "Add to Cart", class:"
                px-8
                py-2
                bg-indigo-600
                text-white text-sm
                font-medium
                rounded
                hover:bg-indigo-500
                focus:outline-none
                focus:bg-indigo-500
              " %>
            <% end %>

          </div>
           <% product.variants.each do |variant| %>
          <div class="mt-3">
            <label class="text-gray-700 text-sm" for="count"><%= variant.title %></label>
            <label class="text-gray-700 text-sm" for="count"><%= number_to_currency variant.price %></label>
            <div class="flex items-center mt-1">
            </div>
          </div>
          <% end %>
          <div class="flex items-center mt-6">

          </div>
        </div>
      </div>
    <% end %>
  </div>
